ARTEMIDE_API_TOKEN=replace-with-openssl-rand-hex-32
TUNNEL_TOKEN=paste-from-cloudflare
ARTEMIDE_DB_PATH=/data/artemide.db
ARTEMIDE_BIND_HOST=0.0.0.0
ARTEMIDE_BIND_PORT=8000
ARTEMIDE_LOG_LEVEL=INFO
ARTEMIDE_ENABLE_DOCS=false
ARTEMIDE_UI_BUILD_PATH=/app/web/dist
ARTEMIDE_COOKIE_SECRET=replace-with-openssl-rand-hex-32
ARTEMIDE_COOKIE_DOMAIN=artemide.francescofederico.net
ARTEMIDE_COOKIE_SECURE=true
